body {
  background-color: #f4f4f4;
}

h1{
text-align: center;
}

.color-grid{
  width: 90%;
  max-width: 650px;
  margin: auto;
  position: relative;
  
}
.color-box {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  display: inline-block;
  margin: 20px 10px;
}
.color1 {
  background-color: #a1b2c3
}

.color2 {
  background-color: rgb(123, 345, 456);
}

.color3 {
  background-color: violet;
}

.color4 {
  background-color: hsl(150, 66%, 33%)
}

.color5 {
  background-color: indigo
}
