.container {
  background-color:rgb(184, 213, 184);
  width: 400px;
  margin: 20px auto;
  padding:10px;
  border-radius:5px;
  box-shadow: 0px 2px 5px  green;
}
.todo-list li {
  margin:5px;
  background-color:#f0f0f0;
  list-style: none;
  padding: 10px;
}
li{
  display: list item
}

h1 {
  text-align: center;
  color: rgb(68, 0, 82);
}


a {
  text-decoration: none;
  
}

a:link {
  color: rgb(10, 101, 51);
}
a:hover {
  color: rgb(208, 19, 19);
}
a:focus {
  border: yellow;
  outline: 2px solid red;
  outline-offset: 2px;
}
a:active {
  color:white;
}
a:visited {
  color:purple;
}
